body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.navbar-section {
    width: 100%;
}

.custom-navbar {
    background-color: #007bff;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #fff !important;
    font-weight: bold;
}


.section {
    padding: 60px 0;
}

#about {
    background-color: #f8f9fa;
    text-align: center;
}

#about .profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#projects-skills {
    background-color: #e9ecef;
}

#resume-contact {
    background-color: #f8f9fa;
}

.footer-section {
    background-color: #007bff;
    color: white;
    padding: 15px 0;
    margin-top: 20px;
}